/*
product.css has classes similar to 'foundation by zurb'
product.css is a toned down version of foundation css
*/
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto;
}

@media print, screen and (min-width: 40em) {
  .grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.grid-container.fluid {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
  margin: 0 auto;
}

@media print, screen and (min-width: 40em) {
  .grid-container.fluid {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.grid-container.full {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  margin: 0 auto;
}

.grid-x {
  display: flex;
  flex-flow: row wrap;
}

.cell {
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.cell.auto {
  flex: 1 1 0px;
}

.cell.shrink {
  flex: 0 0 auto;
}

.grid-x > .small-1, .grid-x > .small-10, .grid-x > .small-11, .grid-x > .small-12, .grid-x > .small-2, .grid-x > .small-3, .grid-x > .small-4, .grid-x > .small-5, .grid-x > .small-6, .grid-x > .small-7, .grid-x > .small-8, .grid-x > .small-9, .grid-x > .small-full, .grid-x > .small-shrink {
  flex-basis: auto;
}

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-1, .grid-x > .medium-10, .grid-x > .medium-11, .grid-x > .medium-12, .grid-x > .medium-2, .grid-x > .medium-3, .grid-x > .medium-4, .grid-x > .medium-5, .grid-x > .medium-6, .grid-x > .medium-7, .grid-x > .medium-8, .grid-x > .medium-9, .grid-x > .medium-full, .grid-x > .medium-shrink {
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-1, .grid-x > .large-10, .grid-x > .large-11, .grid-x > .large-12, .grid-x > .large-2, .grid-x > .large-3, .grid-x > .large-4, .grid-x > .large-5, .grid-x > .large-6, .grid-x > .large-7, .grid-x > .large-8, .grid-x > .large-9, .grid-x > .large-full, .grid-x > .large-shrink {
    flex-basis: auto;
  }
}
.grid-x > .small-1, .grid-x > .small-10, .grid-x > .small-11, .grid-x > .small-12, .grid-x > .small-2, .grid-x > .small-3, .grid-x > .small-4, .grid-x > .small-5, .grid-x > .small-6, .grid-x > .small-7, .grid-x > .small-8, .grid-x > .small-9 {
  flex: 0 0 auto;
}

.grid-x > .small-1 {
  width: 8.33333%;
}

.grid-x > .small-2 {
  width: 16.66667%;
}

.grid-x > .small-3 {
  width: 25%;
}

.grid-x > .small-4 {
  width: 33.33333%;
}

.grid-x > .small-5 {
  width: 41.66667%;
}

.grid-x > .small-6 {
  width: 50%;
}

.grid-x > .small-7 {
  width: 58.33333%;
}

.grid-x > .small-8 {
  width: 66.66667%;
}

.grid-x > .small-9 {
  width: 75%;
}

.grid-x > .small-10 {
  width: 83.33333%;
}

.grid-x > .small-11 {
  width: 91.66667%;
}

.grid-x > .small-12 {
  width: 100%;
}

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-auto {
    flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .medium-1, .grid-x > .medium-10, .grid-x > .medium-11, .grid-x > .medium-12, .grid-x > .medium-2, .grid-x > .medium-3, .grid-x > .medium-4, .grid-x > .medium-5, .grid-x > .medium-6, .grid-x > .medium-7, .grid-x > .medium-8, .grid-x > .medium-9, .grid-x > .medium-shrink {
    flex: 0 0 auto;
  }

  .grid-x > .medium-shrink {
    width: auto;
  }

  .grid-x > .medium-1 {
    width: 8.33333%;
  }

  .grid-x > .medium-2 {
    width: 16.66667%;
  }

  .grid-x > .medium-3 {
    width: 25%;
  }

  .grid-x > .medium-4 {
    width: 33.33333%;
  }

  .grid-x > .medium-5 {
    width: 41.66667%;
  }

  .grid-x > .medium-6 {
    width: 50%;
  }

  .grid-x > .medium-7 {
    width: 58.33333%;
  }

  .grid-x > .medium-8 {
    width: 66.66667%;
  }

  .grid-x > .medium-9 {
    width: 75%;
  }

  .grid-x > .medium-10 {
    width: 83.33333%;
  }

  .grid-x > .medium-11 {
    width: 91.66667%;
  }

  .grid-x > .medium-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-auto {
    flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .large-1, .grid-x > .large-10, .grid-x > .large-11, .grid-x > .large-12, .grid-x > .large-2, .grid-x > .large-3, .grid-x > .large-4, .grid-x > .large-5, .grid-x > .large-6, .grid-x > .large-7, .grid-x > .large-8, .grid-x > .large-9, .grid-x > .large-shrink {
    flex: 0 0 auto;
  }

  .grid-x > .large-shrink {
    width: auto;
  }

  .grid-x > .large-1 {
    width: 8.33333%;
  }

  .grid-x > .large-2 {
    width: 16.66667%;
  }

  .grid-x > .large-3 {
    width: 25%;
  }

  .grid-x > .large-4 {
    width: 33.33333%;
  }

  .grid-x > .large-5 {
    width: 41.66667%;
  }

  .grid-x > .large-6 {
    width: 50%;
  }

  .grid-x > .large-7 {
    width: 58.33333%;
  }

  .grid-x > .large-8 {
    width: 66.66667%;
  }

  .grid-x > .large-9 {
    width: 75%;
  }

  .grid-x > .large-10 {
    width: 83.33333%;
  }

  .grid-x > .large-11 {
    width: 91.66667%;
  }

  .grid-x > .large-12 {
    width: 100%;
  }
}
.grid-margin-x:not(.grid-x) > .cell {
  width: auto;
}

.grid-margin-y:not(.grid-y) > .cell {
  height: auto;
}

.grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-margin-x {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}
.grid-margin-x > .cell {
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-margin-x > .cell {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.grid-margin-x > .auto {
  width: auto;
}

.grid-margin-x > .shrink {
  width: auto;
}

.grid-margin-x > .small-1 {
  width: calc(8.33333% - 1.25rem);
}

.grid-margin-x > .small-2 {
  width: calc(16.66667% - 1.25rem);
}

.grid-margin-x > .small-3 {
  width: calc(25% - 1.25rem);
}

.grid-margin-x > .small-4 {
  width: calc(33.33333% - 1.25rem);
}

.grid-margin-x > .small-5 {
  width: calc(41.66667% - 1.25rem);
}

.grid-margin-x > .small-6 {
  width: calc(50% - 1.25rem);
}

.grid-margin-x > .small-7 {
  width: calc(58.33333% - 1.25rem);
}

.grid-margin-x > .small-8 {
  width: calc(66.66667% - 1.25rem);
}

.grid-margin-x > .small-9 {
  width: calc(75% - 1.25rem);
}

.grid-margin-x > .small-10 {
  width: calc(83.33333% - 1.25rem);
}

.grid-margin-x > .small-11 {
  width: calc(91.66667% - 1.25rem);
}

.grid-margin-x > .small-12 {
  width: calc(100% - 1.25rem);
}

@media print, screen and (min-width: 40em) {
  .grid-margin-x > .auto {
    width: auto;
  }

  .grid-margin-x > .shrink {
    width: auto;
  }

  .grid-margin-x > .small-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .small-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .small-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .small-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .small-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .small-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .small-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .small-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .small-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .small-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .small-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .small-12 {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x > .medium-auto {
    width: auto;
  }

  .grid-margin-x > .medium-shrink {
    width: auto;
  }

  .grid-margin-x > .medium-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .medium-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .medium-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .medium-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .medium-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .medium-12 {
    width: calc(100% - 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-x > .large-auto {
    width: auto;
  }

  .grid-margin-x > .large-shrink {
    width: auto;
  }

  .grid-margin-x > .large-1 {
    width: calc(8.33333% - 1.875rem);
  }

  .grid-margin-x > .large-2 {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x > .large-3 {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x > .large-4 {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x > .large-5 {
    width: calc(41.66667% - 1.875rem);
  }

  .grid-margin-x > .large-6 {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x > .large-7 {
    width: calc(58.33333% - 1.875rem);
  }

  .grid-margin-x > .large-8 {
    width: calc(66.66667% - 1.875rem);
  }

  .grid-margin-x > .large-9 {
    width: calc(75% - 1.875rem);
  }

  .grid-margin-x > .large-10 {
    width: calc(83.33333% - 1.875rem);
  }

  .grid-margin-x > .large-11 {
    width: calc(91.66667% - 1.875rem);
  }

  .grid-margin-x > .large-12 {
    width: calc(100% - 1.875rem);
  }
}
.grid-padding-x .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-padding-x .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
.grid-container:not(.full) > .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-container:not(.full) > .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
.grid-padding-x > .cell {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-padding-x > .cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.grid-container:not(.full) > .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-container:not(.full) > .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

.button {
  padding: 0 18px;
  font-size: 12px;
  list-style-type: none;
  text-transform: uppercase;
  background-color: #007932;
  margin-left: 15px;
  margin-top: calc((80px - 28px) / 2);
  border: 2px solid #007932;
  height: 28px;
  line-height: calc(28px - 4px);
  border-radius: calc(28px / 2);
}
.button:hover {
  background-color: black;
  border: 2px solid black;
}
.button a {
  color: white !important;
}

.nav {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.nav__menu {
  display: none;
}
.nav .logo {
  margin-top: 17px;
  height: 46px;
}
.nav__list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}
.nav__list-item {
  line-height: 80px;
  list-style-type: none;
  padding: 0 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav a {
  color: black;
  display: block;
  transition: ease-in-out;
}
.nav a:hover {
  color: #007932;
  transition: ease-in-out;
}

.hero {
  height: 600px;
  background-image: url("../images/header-img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero .grid-container, .hero .grid-x, .hero .cell, .hero .header-slider, .hero .slick-track, .hero .slick-list {
  height: 100%;
}
.hero .header-slider {
  z-index: 5;
}
.hero__heading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__heading {
  font-size: 50px;
  position: relative;
  z-index: 1;
  color: white;
  padding-top: 50px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.why-section {
  padding: 80px 0;
}
.why-section__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.why-section__logo-container img {
  width: 200px;
}
.why-section__text-container ul {
  padding: 0;
  margin: 0;
}
.why-section__key-points {
  padding: 10px 0;
  list-style-type: none;
}

.services {
  background-color: #ecf5fa;
  padding: 80px 0;
}
.services__title {
  text-align: center;
}
.services__text {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.service__block {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 15px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.service__icon {
  display: block;
  margin: auto;
  width: 50px;
  margin-bottom: 20px;
  fill: #007932;
}
.service__title {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.story {
  padding: 80px 0;
}
.story__title {
  margin-bottom: 30px;
}
.story__text {
  max-width: 600px;
}
.story__text:first-of-type {
  margin-bottom: 20px;
}

.founder {
  width: 300px;
  height: 350px;
  background-image: url("../images/adhiraj-2.jpg");
  background-size: cover;
  color: white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.founder__name {
  font-weight: 500;
}
.founder__position {
  font-size: 14px;
}
.founder__twitter img {
  width: 30px;
  height: 30px;
}
.founder__details {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.testimonial {
  background-color: #ecf5fa;
  padding: 80px 0;
}
.testimonial__title {
  text-align: center;
  margin-bottom: 30px;
}

.feedback__block {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  width: 600px;
  border-radius: 10px;
  margin: auto;
}
.feedback__icon {
  display: block;
  margin: auto;
  width: 30px;
}
.feedback__text {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
}
.feedback__person {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.feedback__person span {
  color: #555555;
  font-size: 12px;
}
.feedback__person-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.slick-arrow {
  font-size: 12px;
  padding: 10px 15px;
  background-color: #007932;
  color: white;
  border: 0;
  outline: none;
  border-radius: 20px;
  width: 100px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  z-index: 2;
  cursor: pointer;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow:hover {
  background-color: black;
}

.slick-dots {
  padding: 0;
  margin: auto;
  margin-top: 14px;
  text-align: center;
}
.slick-dots li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}
.slick-dots li button {
  width: 40px;
  height: 10px;
  background-color: #bababa;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 1px;
}
.slick-dots li.slick-active button {
  background-color: #007932;
}

.newsletter {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  grid-row-start: 1;
  grid-row-end: 2;
}
.newsletter__title {
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.contact-form__title {
  text-align: center;
  margin-bottom: 30px;
}
.contact-form .input-container {
  margin-bottom: 30px;
}
.contact-form .input-container label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.contact-form .input-container .form__input {
  width: 100%;
}
.contact-form .form__button {
  margin-left: 0;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form__input {
  height: 33px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid #007932;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  background-color: #ecf5fa;
  padding: 0px 20px;
  line-height: 30px;
  font-size: 16px;
}
.form__input--textarea {
  height: 150px;
  padding: 5px 20px;
}
.form__button {
  background-color: #007932;
  color: white;
  height: 34px;
  border-radius: 17px;
  outline: none;
  border: 0;
  padding: 0 20px;
  cursor: pointer;
  margin-left: 10px;
  text-transform: uppercase;
}
.form__button:hover {
  background-color: black;
}

.grid {
  margin: 30px 0 80px 0;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 30px;
}

.footer {
  padding: 80px 0 0 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.88);
}
.footer::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/money.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.address__title {
  color: white;
}
.address__details {
  color: white;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}
.address__details a {
  color: white;
}

.icon-container__icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #000000;
}
.icon-container__icon.youtube:hover {
  fill: #FF0000;
  background-color: white;
}
.icon-container__icon.facebook:hover {
  fill: #2d88ff;
  background-color: white;
}
.icon-container__icon.medium:hover {
  fill: #03a87c;
  background-color: white;
}

.map {
  padding: 0 0 30px 0;
}
.map iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.terms {
  background-color: #007932;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
.terms p {
  margin: 10px 0;
}

.wa-button {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #1ebea5;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wa-button svg {
  width: 40px;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    padding: 0 20px;
  }

  h2 {
    font-size: 25px;
  }

  .nav {
    height: 60px;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .nav .logo {
    margin-top: 10px;
    height: 40px;
  }
  .nav__menu {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .nav__list-container {
    display: none;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 57px;
    background-color: white;
    padding: 40px 20px;
    z-index: 4;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
  .nav .grid-container {
    padding-left: 0;
    padding-right: 0;
  }
  .nav__list-item {
    line-height: 30px;
  }
  .nav .button {
    margin-left: 0;
    width: 100px;
    text-align: center;
  }

  .hero__heading {
    font-size: 30px;
  }

  .why-section {
    padding: 40px 0;
  }
  .why-section__logo-container {
    display: none;
  }

  .services {
    padding: 40px 0;
  }

  .service__block {
    min-height: 170px;
  }
  .service__title {
    font-size: 14px;
  }

  .story {
    padding: 40px 0;
  }
  .story__title {
    text-align: center;
    margin-top: 20px;
  }

  .founder {
    margin: auto;
  }

  .testimonial {
    padding: 40px 0 25px 0;
  }

  .feedback__block {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
    margin: 30px 0 0 0;
  }

  .footer {
    padding: 40px 0;
  }

  .terms {
    padding: 20px 0;
  }

  .form__button {
    margin: 20px auto 0 auto;
    display: block;
  }

  .wa-button {
    bottom: 20px;
    right: 20px;
  }
}