$theme-color: #007932;
// $secondary-bg: rgba(255, 255, 255, 0.9);
$secondary-bg: #ecf5fa;
$button-height: 28px;

html {
    scroll-behavior: smooth;
  }

body{font-family: 'Poppins', sans-serif;}

// main{
//     margin-top:80px;
// }

h2{
    font-weight:bold;
    font-size:30px;
}
.button{
    padding:0 18px; 
    font-size:12px; 
    // font-weight:500;
    list-style-type:none; 
    text-transform: uppercase;
    background-color:$theme-color; 

    &:hover{
        background-color:black; border:2px solid black;
    }

    a{
        color:white !important;
    }

    margin-left:15px; 
    margin-top:calc((80px - #{$button-height}) / 2); 

    border:2px solid $theme-color;
    height: $button-height; 
    line-height:calc(#{$button-height} - 4px); 
    border-radius:calc(#{$button-height} / 2);
}

.nav{
    height:80px;
    background-color:rgba(255, 255, 255, 0.9);
    // border-bottom:2px solid black; 
    position:fixed; top:0; left:0; width:100%;
    z-index: 10;

    &__menu{
        display:none;
    }

    .logo{
        margin-top:17px;
        height: 46px;
    }

    &__list-container{
        display:flex; flex-direction:row; justify-content: flex-end; margin:0;
    }

    &__list-item{
        line-height:80px; list-style-type:none; padding:0 10px; font-size:13px; text-transform: uppercase; font-weight:500;
    }

    a{color:black; display:block; transition: ease-in-out;}

    a:hover{
        color:$theme-color; transition: ease-in-out; 
    }
}


.hero{
    height:600px; 
    background-image: url('../images/header-img.jpg');
    background-size:cover;
    background-position: center; 
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top:0; left:0;
        height:100%; 
        width:100%;
        background-color:rgb(0 0 0 / 30%);
    }

    .grid-container, .grid-x, .cell, .header-slider, .slick-track, .slick-list{
        height:100%;
    }

    .header-slider{
        z-index: 5;
    }

    &__heading-container{
        height:100%; 
        display:flex; flex-direction:column; justify-content: center;
    }

    &__heading{
        font-size: 50px;
        position: relative;
        z-index: 1;
        color:white;
        padding-top:50px;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
}

.why-section{
    padding:80px 0;

    &__logo-container{
        display:flex; flex-direction:column; justify-content: center; height:100%;

        img{
            width:200px;
        }
    }

    &__text-container{
        ul{
            padding:0; margin:0;
        }
    }

    &__key-points{
        padding:10px 0; list-style-type: none;
    }
}

.services{
    background-color:#ecf5fa;
    padding:80px 0;
    &__title{
        text-align:center;
    }

    &__text{
        text-align:center;
        max-width:600px;
        margin:auto;
        margin-top:20px;
        margin-bottom:30px;
    }
}

.service{
    &__block{
        background-color:white;
        border-radius:10px; 
        padding:30px;
        margin:15px 0; 
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    }

    &__icon{
        display:block; margin:auto;
        width:50px; margin-bottom:20px;
        fill: #007932;
    }

    &__title{
        text-align:center; font-weight:500; text-transform: capitalize;
    }
}

.story{
    padding:80px 0;

    &__title{
        margin-bottom:30px;
    }

    &__text{
        max-width:600px; 
        // text-align:center;
        &:first-of-type{
            margin-bottom:20px;
        }
    }
}

.founder{
    width:300px; 
    height:350px; 
    background-image: url('../images/adhiraj-2.jpg');
    background-size:cover;
    color:white;
    position:relative;
    border-radius:10px;
    overflow:hidden;

    &__name{
        font-weight:500;
    }
    &__position{
        font-size:14px;
    }

    &__twitter{
        img{
            width:30px; height:30px;
        }
    }

    &__details{
        width:100%;
        position:absolute;
        bottom:0; left:0;
        display:flex; flex-direction:row; justify-content: space-between; align-items: center;
        padding:15px 20px; background-color:rgba(0, 0, 0, 0.5);
    }
}

.testimonial{
    background-color:$secondary-bg;
    padding:80px 0;

    &__title{
        text-align: center; margin-bottom:30px;
    }
}

.feedback{
    &__block{
        background-color:white; 
        padding:30px; 
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        width:600px;
        border-radius:10px;
        margin:auto;
    }

    &__icon{
        display:block; margin:auto; width:30px;
    }

    &__text{
        text-align:center; margin:15px 0; font-size:14px;
    }

    &__person{
        font-weight: 500;
        text-align:center;
        text-transform: uppercase;
        span{
            color:#555555; font-size:12px;
        }
    }

    &__person-image{
        width:50px; height:50px; border-radius:25px; display: block; margin:auto; margin-bottom:10px;
    }
}

.slick-arrow{
    font-size:12px; 
    padding:10px 15px; 
    background-color:$theme-color;
    color:white;
    border:0; outline:none;
    border-radius:20px;
    width:100px;
    position:absolute;
    top:50%; margin-top:-17px;
    z-index:2;
    cursor:pointer;

    &.slick-prev{left:0;}
    &.slick-next{right:0;}

    &:hover{
        background-color:black;
    }
}

.slick-dots{
    padding:0; 
    margin:auto;
    margin-top:14px;
    text-align: center;

    li{
        list-style-type: none;
        display:inline-block;
        margin:0 5px;

        button{
            width:40px; height:10px;
            background-color: #bababa;
            border-radius:5px;
            border:0; outline:0; 
            font-size:1px;
        }

        &.slick-active{
            button{
                background-color:$theme-color;
            }
        }
    }
}

.newsletter{
    padding:40px;
    // margin:auto;
    background-color:white;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    grid-row-start: 1;
    grid-row-end: 2;
    

    // .wrapper{
    //     display:flex; flex-direction:column;
    // }

    &__title{
        text-align:center; margin-bottom:30px;
    }
}

.contact-form{
    padding:40px;
    // margin:auto;
    background-color:white;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);

    &__title{
        text-align:center; margin-bottom:30px;
    }

    .input-container{
        margin-bottom:30px;

        label{
            font-size:16px; font-weight:500; margin-bottom:5px; display:block;
        }
        .form__input{
            width:100%;
        }
    }

    .form__button{
        margin-left:0;
    }
}

.form{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__input{
        height:33px; 
        width:300px;
        border-radius:8px; 
        border:2px solid $theme-color; outline:none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        background-color:$secondary-bg;
        padding:0px 20px; line-height:30px; font-size:16px;

        &--textarea{
            height:150px;
            padding:5px 20px;
        }
    }

    &__button{
        background-color:$theme-color; color:white; height:34px; border-radius:17px; outline:none; border:0; padding: 0 20px; cursor:pointer; margin-left:10px; text-transform: uppercase;

        &:hover{
            background-color:black
        }
    }
}

.grid{
    margin:30px 0 80px 0;
    display:grid; 
    grid-template-columns: 5fr 7fr;
    grid-gap: 30px;
}

.footer{
    padding:80px 0 0 0;
    position:relative;
    background-color:rgba(0, 0, 0, 0.88);

    &::before{
        content: " ";
        width:100%; height:100%; 
        position:absolute; top:0; left:0;
        background-image:url('../images/money.jpg'); background-size:cover; background-repeat:no-repeat;
        z-index:-1;
    }
}

.address{
    // padding:80px 0;
    // display:flex; flex-direction:row; justify-content: space-between;
    &__title{
        color:white;
    }

    &__details{
        color:white;
        line-height:30px;
        list-style-type:none;
        padding:0;

        a{color:white;}
    }
}

.icon-container{
    &__icon{
        width:40px; height:40px;
        fill:#ffffff;
        margin-right:10px;
        border-radius:5px;
        background-color:#000000;

        &.youtube:hover{
            fill: #FF0000;
            background-color:white;
        }

        &.facebook:hover{
            fill: #2d88ff;
            background-color:white;
        }

        &.medium:hover{
            fill: #03a87c;
            background-color:white;
        }
    }
}

.map{
    padding:0 0 30px 0;
    iframe{
        width:100%; height:300px; border-radius:10px; 
    }
}

.terms{
    background-color:$theme-color;
    color:white;
    padding:20px;
    text-align: center;
    font-size:12px;

    p{margin:10px 0;}
}

.wa-button{
    width:60px; height:60px; 
    position:fixed; bottom:30px; right:30px; 
    border-radius:50%; 
    background-color: #1ebea5;
    z-index: 2;
    display:flex; flex-direction:row; justify-content: center; align-items: center;
    cursor:pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    svg{
        width:40px;
    }
}

@media only screen and (max-width:1024px){
    .grid-container{
        padding:0 20px;
    }
    h2{font-size:25px;}
    .nav{
        height:60px;
        background-color:white;
        padding: 0 20px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

        .logo{
            margin-top: 10px;
    height: 40px;
        }
        &__menu{
            display:block;
            width:30px; height:30px;
            position:absolute;
            top:15px; right:20px;
            cursor:pointer;
        }
        &__list-container{
            // height:calc(100vh - 70px); 
            display:none;
            width:100vw; 
            position:absolute;
            left:0; 
            top:57px; 
            background-color:white;
            padding:40px 20px;
            z-index:4;
            flex-direction:column;
            justify-content: flex-start;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        }

        .grid-container{
            padding-left:0; padding-right:0;
        }

        &__list-item{
            line-height:30px;
        }

        .button{
            margin-left:0; width:100px; text-align: center;
        }
    }

    .hero{
        &__heading{
            font-size:30px;
        }
    }

    .why-section{
        padding:40px 0;

        &__logo-container{
            display:none;
        }
    }

    .services{
        padding:40px 0;
    }

    .service{
        &__block{
            min-height:170px;
        }

        &__title{
            font-size:14px;
        }
    }

    .story{
        padding:40px 0;

        &__title{
            text-align: center; margin-top:20px;
        }
    }

    .founder{
        margin:auto;
    }

    .testimonial{
        padding:40px 0 25px 0;
    }

    .feedback{
        &__block{
            width:100%;
        }
    }

    .grid{
        grid-template-columns: 1fr;
        margin:30px 0 0 0;
    }

    .footer{
        padding:40px 0;
    }

    .terms{
        padding:20px 0;
    }

    .form{
        &__button{
            margin:20px auto 0 auto;
            display: block;
        }
    }

    .wa-button{
        bottom:20px; right:20px;
    }
}